@import '../../styles';

.shoes {
  &Container {
    @include containerDesktop;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &Title {
    @include title;
    text-align: center;
    margin-bottom: 1rem;
  }

  &BtnList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0 0 20px 0;
  }

  &CardList {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 320px));
    gap: 15px;
    row-gap: 25px;
  }

  &Btn:first-letter {
    text-transform: capitalize;
  }

  &BtnActive {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: var(--bgc-brown);
    }
  }
}
