@import '../../styles';

.offer {
  @include text;


  &Container {
    @include containerDesktop;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  & h3 {
    @include title;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  & p {
    text-align: center;
    margin-bottom: 1rem;
  }


  & ol {
    list-style-type: none;
    counter-reset: li;
    line-height: 2.0;

    & li {
      display: block;
      margin-left: 20px;

      & span {
        @include subtitle;
      }

      &:before {
        counter-increment: li;
        content: counters(li, ".") " ";
        font-weight: 600;
      }
    }

  }


  &Subtitle {
    @include subtitle;
  }
}


