@import '../../styles';

.button {
  &:hover {
    cursor: pointer;
  }

  &Icon {
    background: inherit;
    border: none;
    outline: none;
    padding: 0;
  }

  &Outlined {
    background: inherit;
    color: var(--bgc-brown);
    outline: 1px solid var(--bgc-brown);
    border-radius: 20px;
    transition: all var(--time-animation) var(--animation);

    &:hover, &:focus {
      color: white;
      background: var(--bgc-btn);
      outline: inherit;
    }
  }

  &Contained {
    background: var(--bgc-btn);
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
    transition: all var(--time-animation) var(--animation);

    &:hover, &:focus {
      color: var(--bgc-brown);
      background: inherit;
      outline: 1px solid var(--bgc-brown);
    }
  }

  &Text {
    background: inherit;
    color: var(--bgc-brown);
    font-size: 1.1rem;
  }

}
