@import '../../styles';

.itemCard {
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
  background: var(--bgc-main);
  position: relative;
  box-shadow: var(--shadow-btn);
  transition: box-shadow var(--time-animation) var(--animation);

  &:hover, &:focus {
    box-shadow: var(--shadow-card);
    cursor: pointer;
  }

  &SaleLable {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--red);
    color: var(--bgc-main);
    padding: 5px;
    border-bottom-right-radius: 10px;

    & p {
      font-size: 0.8rem;
      line-height: normal;
    }
  }

  &SaleLableShow {
    display: inline-block;
  }

  &Thumb {
    padding: 5px 10px 10px 10px;
    @include text;
  }

  &Article {
    font-size: 0.9rem;
    line-height: 1;
    letter-spacing: 0.05px;
    color: var(--text-secondary);
    margin-bottom: 10px;
    font-style: italic;
  }

  &Title {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    width: 230px;
    margin: 0 auto 15px auto;
  }

  &Size {
    margin-bottom: 10px;
    font-size: 0.9rem;
    font-style: italic;
  }

  &Price {
    font-weight: 600;
    color: var(--bgc-brown);

    &Old {
      display: none;
    }

    &OldShow {
      display: inline-block;
      margin-left: 15px;
      color: var(--red);
      font-style: italic;
    }
  }

  &Btn {
    width: 75%;
    padding: 10px 5px;
    margin: 15px auto 0 auto;
    font-size: 1rem;
    font-weight: 500;

    &:hover {
      //background-color: var(--bgc-brown);
    }
  }
}
