@import "./variables";

*,
::before,
::after {
  box-sizing: border-box;
}


body {
  padding: 0;
  background-color: #fff;
  color: black;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  line-height: normal;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol,
dd,
dl,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}
