@import "variables";


@mixin text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.21px;
}

@mixin title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.36;
}

@mixin subtitle {
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 1.2;
}

@mixin wrapperCardBascet {
  margin: 0 auto;
  padding: 15px 15px;
  max-width: 80%;
  box-shadow: var(--shadow-detailed-card);
  border-radius: 5px;
  position: relative;
}


@mixin containerDesktop {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

@mixin containerLarge {
  max-width: 994px;
  padding: 0 15px;
  //margin: 0 auto;
}

@mixin containerTablet {
  max-width: 768px;
  padding: 0 10px;
  //margin: 0 auto;
}

@mixin containerMobile {
  max-width: 320px;
  padding: 0 5px;
  margin: 0 auto;
}
