:root {
  --bgc-main: #FAF7F1;
  --bgc-btn: #D7B399;
  //--bgc-btn2: #b49478;
  --bgc-brown: #9d825d;
  --red: #FF3451;

  --text-primary: #3E3E3E;
  --text-secondary: #747474;
  --text-gray: #DDDDDD;
  --text-accent: #2895f5;
  --text-hover: #40A3F8;

  --animation: cubic-bezier(0.4, 0, 0.2, 1);
  --time-animation: 250ms;

  --shadow-card: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
  --shadow-btn: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);

  //=========================================================
  //--text-hover: #b99b84;
  //--gradient-card: radial-gradient(
  //                252.06% 110.81% at 1.19% 19.9%,
  //                #ebf6ff 0%,
  //                #ebeaf8 33.33%,
  //                #d8edee 61.98%,
  //                #eff4f9 82.29%,
  //                #eff8ff 100%
  //);
  //--gradient-card2: radial-gradient(276.64% 98.97% at 1.03% 40.7%, #ebf6ff 0%, #eff8ff 100%);


  //--shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
