@import '../../styles';

.header {
  width: 100%;
  border-bottom: 1px solid var(--text-gray);
  background-color: var(--bgc-main);

  &Container {
    @include containerDesktop;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  &Logo {
    width: 195px;
    height: 55px;
    order: 1;
  }

  & address li {
    color: var(--text-secondary);
    margin-bottom: 5px;
  }

  & address li:last-child {
    margin-bottom: 0;
  }

  &Nav {
    order: 2;
  }
}

.basket {
  position: relative;
  order: 3;

  &Img {
    width: 30px;
    height: 30px;
  }

  &Label {
    position: absolute;
    top: -3px;
    right: -3px;
    font-size: 0.8rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 50%;
  }
}

// Large
@include large {
  .container {
    @include containerLarge
  }

  .header {

    & address li {
      font-size: 0.9rem;
    }
  }
}

// Tablet
@include tablet {
  .container {
    @include containerTablet;
  }
  .header {
    &Logo {
      width: 170px;
      height: 45px;
      order: 1;
    }

    & address {
      margin-left: auto;
    }

    &Nav {
      order: 3;
      margin-left: 20px;
    }
  }

  .basket {
    margin-left: auto;
    position: relative;
    order: 2;
  }
}

// Mobile
@include mobile {

  .header {
    &Container {
      @include containerMobile;
      display: flex;
      flex-wrap: wrap;
      padding: 15px 5px 10px 5px;
    }

    & address {
      order: 4;
      margin: 10px auto 0 auto;
    }

    &Logo {
      width: 145px;
      height: 40px;
    }

    &Phones {
      display: flex;
      gap: 20px;
    }
  }

  .basket {
    &Img {
      width: 26px;
      height: 26px;
    }
  }
}


