@import '../../styles';

// styles for NavLink
.active {
  color: var(--text-accent);
}

nav ul li a:not(.active):hover {
  color: var(--text-hover);
}

// Navigation
.nav {
  &List {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    font-size: 1.13rem;
    font-weight: 500;
    text-align: center;
    color: var(--text-secondary);
  }

  &CloseBtn {
    display: none;
  }

  &BurgerBtn {
    display: none;
  }
}

//Tablet
@include tablet {
  .nav {
    &BurgerBtn {
      display: block;
    }

    &BurgerIcon, &CloseIcon {
      width: 24px;
      height: 24px;
      color: var(--text-secondary);

    }

    &CloseBtn {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &ListMobileCover {
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateX(-100%);
      transition: transform 250ms ease-in-out;
    }

    &ListMobileCoverShow {
      transform: translateX(0);
    }

    &List {
      flex-direction: column;
      padding: 4rem 0;
      border-bottom-left-radius: 1rem;
      border-top-left-radius: 1rem;
      min-width: 320px;
      height: 100vh;
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(100%);
      background-color: var(--bgc-main);
      z-index: 10;
      box-shadow: var(--shadow1);
      transition: transform 250ms ease-in-out;
    }

    &ListShow {
      transform: translateX(0);
    }
  }
}



