@import '../../styles';

.home {
  max-width: 1600px;
  height: 550px;
  padding: 110px 5px;
  background: linear-gradient(rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)), url('/assets/images/hero.webp') 100%/cover no-repeat;

  &Container {
    @include containerDesktop;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Title {
    @include title();
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.62;
    text-align: center;
    color: #FAF7F1;
  }
}

@include large {
  .home {
    height: 450px;
    padding: 90px 5px;

    &Container {
      @include containerLarge;
    }

    &Title {
      font-size: 3.5rem;
      font-weight: 700;
    }
  }
}

@include tablet {
  .home {
    height: 400px;

    &Container {
      @include containerTablet;
    }
  }
}

@include mobile {
  .home {
    background: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('/assets/images/hero.webp') 50%/cover no-repeat;
    height: 400px;
    padding: 90px 5px;

    &Container {
      @include containerMobile;
    }

    &Title {
      font-size: 2rem;
      font-weight: 700;
    }
  }
}
